extends layout 
block content 
    h1 Add Student
    form(action='/addStudent', method='POST')
      p
        | Student ID:
        input(type='text', name='sid', value=``)
        |          Name: 
        input(type='text', name='name', value=``)
        |          GPA: 
        input(type='text', name='gpa', value=``)
      input(type='submit')
      